@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600&display=swap');
html,
body {
  margin: 0;
  padding: 0;
}
img {
  padding-top: 50px;
  max-width: 100%;
  height: auto;
}
.header {
  font-family: 'Montserrat Alternates', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(165, 145, 181); 
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  
  justify-content: center;
   margin: 0;
  z-index: 2;
}
.header ul {
    width: 710px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  color: #000;
}


.nav-link {
  
  font-size: 20px;
  font-weight: 500;
  color: #000;
  font-style: none;
  text-decoration: none;
}
.nav-link:hover {
  color: rgb(145, 78, 199);
  font-weight: 800;
}
.main {
  text-align: center; 
}
.personality {
  position: relative;
  font-family: 'Montserrat Alternates', sans-serif;
  background-color: rgb(165, 145, 181); 
   width: 100%;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personality h1 {
 border-bottom: 4px solid #fff;
  margin-top: 0px;
  position: relative;
  font-size: 60px;

  padding-top: 150px;
  padding-bottom: 10px;
  /*width: 710px;*/
  
}
.personality h2 {
    margin-top: 0;
  font-size: 30px;
  position: relative;
  
}
.image {
 position: absolute;
 left: 50%;
transform: translateX(-50%);
} 
.education {
 /*border: red solid;*/
  font-family: 'Montserrat Alternates', sans-serif;
display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.discription {
/*  border: green solid;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 450px;
  text-align: left;
  margin-left: 30px;
    margin-right: 30px;
}
.edu {
 /*border: red solid;*/ 
  width: 1000px;
display: flex;
}
.year {
  color: rgba(165, 145, 181, 0.8);
}
.projects {
    font-family: 'Montserrat Alternates', sans-serif;
 /* border: green solid;*/
    padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(115, 115, 115);
  display: flex;
  justify-content: center;
}

.width {
  color: rgba(129, 86, 163, 1);
  
  text-align: center; 
/* border: blue solid;*/
  width: 1000px;
}
.gray {
  display: flex;
  justify-content: center;
  /*border: red solid;*/
  width: 100%;
  background-color: rgba(165, 145, 181, 0.2);
}
.skill {
   font-family: 'Montserrat Alternates', sans-serif;
/*border: purple solid;*/
    padding-top: 20px;
  display: flex;
  justify-content: center;
}
.skills {
 /*border: red solid;*/
  font-family: 'Montserrat Alternates', sans-serif;
display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.skills_discription {
/*border: green solid;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 310px;
  text-align: left;
  margin-left: 15px;
    margin-right: 15px;
}
.professional_skills {
 /*border: purple solid;*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 310px;
  text-align: left;
  margin-left: 15px;
    margin-right: 35px;
}
.dot {
  height: 12px;
  width: 12px;
  background-color: rgba(129, 86, 163, 1);
  border-radius: 50%;
  display: inline-block;
}
.dot_gray {
  height: 12px;
  width: 12px;
  background-color: rgba(165, 145, 181, 0.5);
  border-radius: 50%;
  display: inline-block;
}
.block {
  display: flex;
}
.dots li {
  list-style: none;
}
.square {
  height: 12px;
  width: 12px;  
   background-color: rgba(129, 86, 163, 1);
  display: inline-block;
}
.square_gray {
  height: 12px;
  width: 12px;
 background-color: rgba(165, 145, 181, 0.5);
  display: inline-block;

}
.blocks {
  padding-top: 15px;
  padding-bottom: 15px; 
  display: flex;
/*border: blue solid;*/
  width: 600px;
  justify-content: space-between;
}

.experience {
  position: relative;
  animation-name: text;
  animation-duration: 20s;  
  animation-fill-mode: forwards;
  /*border: purple solid;*/
  width: 300px;
}
@keyframes text {
  from {left:200px; top:0px;}
  to {left:0px; top:0px;}
}
.experience_2 {
  position: relative;
  animation-name: text_2;
  animation-duration: 20s;  
  animation-fill-mode: forwards;
  /*border: purple solid;*/
  width: 300px;
}
@keyframes text_2 {
  from {right:200px; top:0px;}
  to {right:0px; top:0px;}
}
.cards img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);  
  max-width: 120%;
}
.cards {
   position: relative;
  overflow: hidden;
  /* border: green solid;*/
  width: 250px;
  height: 300px;
  animation-name: example;
  animation-duration: 14s;  
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes example {
 0%   {left:0px; top:0px;}
  50%  { left:50px; top:0px;}
  100%  { left:0px; top:0px;}
}
.cards_2 {
   position: relative;
  overflow: hidden;
  /* border: green solid;*/
  width: 250px;
  height: 300px;
  animation-name: example_2;
  animation-duration: 14s;  
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
@keyframes example_2 {
 0%   {right:0px; top:0px;}
  50%  { right:50px; top:0px;}
  100%  { right:0px; top:0px;}
}
.experience li {
  list-style: none;
  padding-top: 5px;
padding-bottom: 5px;
}
.experience_2 li {
  list-style: none;
  padding-top: 5px;
padding-bottom: 5px;
}
.educat {
 /* border: red solid;*/
  font-family: 'Montserrat Alternates', sans-serif;
display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.project-link {
  font-weight: 400;
  color: #000;
  font-style: none;
  text-decoration: none;  
}
.project-link:hover {
 font-weight: 800;
 color: rgba(129, 86, 163, 1); 
}
.contact {
  background-color: rgb(165, 145, 181); 
   font-family: 'Montserrat Alternates', sans-serif;
    padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.fa.fa-github,
.fab.fa-telegram-plane,
.fas.fa-at {
  display: inline-block;
  color: #bebac2;
  margin-right: 10px;
}
.contact-information {
/*  border: red solid;*/
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 800;
 color: rgba(129, 86, 163, 1); 
}
.contact-buttons {
  transition: transform 0.3s;  
  text-decoration: none;
  margin-right: 20px;
  flex-wrap: wrap;
   font-weight: 500;
 color: rgb(145, 78, 199);
}
.contact-buttons:hover {
   font-weight: 900;
  transform: translateY(10px);
  transition: transform 0.3s;
}
.width-line {
  text-align: center; 
/* border: blue solid;*/
  width: 1000px; 
}
.footer {
  background-color: rgb(165, 145, 181); 
  font-family: 'Montserrat Alternates', sans-serif;
display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 4px solid #bebac2;
}
.width-other {
  
  text-align: center; 
/* border: blue solid;*/
  width: 1000px;
  
}
@media (max-width: 1000px) {
 .contact-information {
   justify-content: center;
   align-items: center;
    flex-direction: column;
  }
  .edu {
    justify-content: center;
   align-items: center;
    flex-direction: column;
  }
  .header ul {
    display: flex;
   justify-content: center;
   align-items: center; 
      flex-direction: column;
  } 
}
@media (max-width: 800px) {
 .personality h2 {
   color: #fff;
   text-shadow: black 1px 1px 0, black -1px -1px 0, 
                 black -1px 1px 0, black 1px -1px 0;
  }
  .blocks {
    width: 500px;
  }
}
